@charset "utf-8";
*,html{padding:0; margin:0;}
body {font-size:12px; color:#333; margin:0 auto; width:100%; height:100%}
.pw{width:970px;margin:0 auto;}
p{margin:10px}
ul,dl{ list-style:none;}
cite{ float:right; text-align:right; font-style:normal;}
img{ border:0}
a{ color:#333; text-decoration:none;}
a:hover{ color:#ff6600; text-decoration:underline;}
.red{ color:#F00}
a.red{ color:#F00}
.green{ color:#090}
.gray{ color:#999}
.blue{ color:#06F;}
.clC60{ color:#C60;}
.b{ font-weight:bold;}
.u{ text-decoration:underline;}
.f12{ font-size:12px;}
.f14{ font-size:14px;}
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.ml10{ margin-left:10px;}
.pl10{ padding-left:10px;}
.pt10{ padding-top:10px;}
.pr10{ padding-right:10px;}
.tpline{ border-top:dashed #CCC 1px;}
.fl{ float:left;}
.show{ display:block;}
.hide{ display:none;}
.w120{ width:120px;}
.w150{ width:150px;}
.w158{ width:158px;}
.w106{ width:106px;}
.w100{ width:100px;}
.w250{ width:250px;}
.w320{ width:320px;}
.w510{ width:510px;}
.w515{ width:515px;}
.w80{ width:80px;}
.w70{ width:70px;}
.w60{ width:60px;}
.nobg{ background:none;}
.clear{zoom:1; display: block !important; display:none;} 
.clear:after { content: '\20'; display: block !important; display:none;  clear: both;}
.pop-box {z-index: 9999;margin-bottom:2px;display:none;position:absolute;background:#ffffff;border:solid 3px #96b3c3;}
.pop-box-body{clear:both;margin:2px;padding:1px;}
#coverDiv{width: 100%; height: 100%; position: fixed; z-index: 7777; top:0; left:0; right:0; bottom: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=9)";filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=9);opacity: .1;background: #000;color: #f00;display: none;border: 1px solid blue;}
.albox{ width:420px; vertical-align:middle; border:1px solid #D0D0D0;}
.alb-tit{ height:30px; line-height:30px; background:url('../images/growaddpopwindowtitlebg.png') repeat-x; border-bottom:1px solid #D0D0D0;}
.alb-tit span{display:inline-block; width:200px; height:30px; background:url('../images/growaddpopwindowarrow.png') no-repeat 5px center; text-indent:20px;}
.alb-con{ padding:10px; width:400px;}
.upbtn{ cursor:pointer; border:0; width:84px;height:29px;line-height:29px;background:url('../images/growcheckuploadaddbtn.png') no-repeat;}
.alb-list{width:400px; border:1px solid #CCC; height:197px; overflow-y:scroll;}