@import url(common.css);

body{ background:url(../images/login/logbglist.jpg);}
#main{ background:url(../images/login/login_bg.jpg) no-repeat center top; width:970px; margin:auto; height:750px;}
.login_box{ width:500px; padding-left:277px; padding-top:156px;}
.login_box li{ line-height:27px; height:27px; padding:12px 0; width:500px; overflow:hidden;}
.login_box input.login-inp{ border:0; background:none; padding:5px 10px; line-height:17px; height:17px; margin-left:70px;}
.login_box li.login-reg{ padding-top:10px; height:50px;}
.login_box li.login-reg input.login-btn{ border:0; background:none; width:240px; height:50px; cursor:pointer; float:left;}
.login_box li.login-reg a.reg-btn{ width:160px; height:40px; display:inline-block; overflow:hidden; line-height:40px; text-indent:160px; float:left; margin-left:12px;}
.login_box li.login-err{ width:500px; height:0px; overflow:hidden; padding-top:10px; padding-bottom:0;}
.login_box li.login-err b{ padding:10px; height:14px; line-height:14px; width:390px;}
.login_box li.login-copy{ text-align:center; width:440px; color:#FFF; line-height:20px;}
.login_box li.login-code{}
.login_box li.login-code input{ float:left;}
.login_box li.login-code img{ float:left; cursor:pointer; margin-left:10px;}
.refrbtn{ border:0; background:none; cursor:pointer; color:#8C6900; height:28px;}
.login_box li.login-code a{ color:#8C6900;}
.site{ font-size:14px; font-weight:bold; color:#FFF; padding-top:106px; padding-left:660px; width:200px; height:30px; overflow:hidden;}

/*========== 404 ==========*/
#bg404{ background:url(../images/login/logbglist.jpg); padding:0; width:100%;}
.img404{ background:url(../images/frame/404bg.jpg) no-repeat center top; width:100%; height:100%;}
.box404{ width:616px; margin:auto; overflow:hidden; padding-top:417px;}
.bt-404{ width:616px; height:45px; line-height:45px; text-align:center; color:#FFF; text-shadow:1px 2px 2px #006600; filter: dropshadow(OffX=1, OffY=1, Color='#006600', Positive='true'); font-size:24px; font-weight:bold;}
.bl-404{ width:616px; height:53px; padding-top:118px; text-align:center;}
.bl-404 a{ display:inline-block; height:53px; width:206px; float:left; line-height:53px; text-indent:206px; overflow:hidden; margin-left:83px;}
.bl-404 a.log404{ margin-left:50px;}

/*=========== reg ============*/
#regmain{ background:url(../images/login/reg_03.jpg) no-repeat center 34px; font-size:14px; padding-top:193px;}
.reg_box{ width:660px; margin:auto; overflow:hidden;}
.reg_box .rb-tit{ background:url(../images/login/reg_06.jpg) no-repeat; width:644px; height:39px; line-height:39px; font-weight:bold; padding-left:16px;}
.reg_box .rb-con{ background:url(../images/login/reg_07.jpg) repeat-y; width:660px; padding-top:7px;}
.reg_box .rb-con .inp{ padding:5px; border:solid #CCC 1px; border-left-color:#999; border-top-color:#999; height:14px; line-height:14px; width:200px;}
.reg_box .rb-con select{ padding:3px;}
.reg_box .rb-con .f12{ font-size:12px;}
.reg_box .rb-btn{ padding-top:3px; padding-left:130px;}
.reg_box .rb-btn input{ float:left; width:206px; height:56px; border:0; background:url(../images/login/reg_12.jpg) no-repeat; cursor:pointer;}
.reg_box .rb-btn input.gnreg{ background:url(../images/login/reg_13.jpg) no-repeat;}
.reg_box .rb-btn a{ display:inline-block; width:168px; height:56px; line-height:56px; text-indent:168px; overflow:hidden; margin-left:25px; background:url(../images/login/reg_14.jpg) no-repeat; float:left;}
.reg_box .rb-bom{ background:url(../images/login/reg_08.jpg) no-repeat; width:660px; height:14px; overflow:hidden; margin-bottom:12px;}
#regmain .login-copy{ text-align:center; color:#FFF; padding-bottom:20px; font-size:12px;}





