<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
    <init-param>
      <javaee:param-name>encoding</javaee:param-name>
      <javaee:param-value>UTF-8</javaee:param-value>
    </init-param>
    <init-param>
      <javaee:param-name>forceEncoding</javaee:param-name>
      <javaee:param-value>true</javaee:param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
			org.apache.struts2.dispatcher.FilterDispatcher
		</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.gov.zyczs.cspt.common.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/manage/*</url-pattern>
  </filter-mapping>
  <context-param>
    <javaee:param-name>file_produce_path</javaee:param-name>
    <javaee:param-value>img/produce</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>file_grow_path</javaee:param-name>
    <javaee:param-value>img/grow</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>file_codeimg_path</javaee:param-name>
    <javaee:param-value>img/codeimg</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>file_medcode_path</javaee:param-name>
    <javaee:param-value>img/code/med</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>file_tabletcode_path</javaee:param-name>
    <javaee:param-value>img/code/tablet</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>copyright</javaee:param-name>
    <javaee:param-value>版权所有：中华人民共和国商务部 京ICP备05004093号　　　　　地址：中国北京东长安街2号 100731　　　技术支持：国富通信息技术发展有限公司&lt;br>网站管理：商务部市场秩序司药品流通处　　　　　　　　　　　业务咨询电话：86-10-85093330　　　　　技术支持电话：86-10-67800357 67800123 400-0931-981&lt;br>传真：86-10-67800432</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>domainname</javaee:param-name>
    <javaee:param-value>http://localhost:8080/</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>titlename</javaee:param-name>
    <javaee:param-value>(成都站)</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>operatename</javaee:param-name>
    <javaee:param-value>zyczs_cd</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>operatepwd</javaee:param-name>
    <javaee:param-value>000000</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>corpinfo</javaee:param-name>
    <javaee:param-value>http://platform.ecpc.org.cn/CPCNEW/trans/corpinfo.htm</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>prodinfo</javaee:param-name>
    <javaee:param-value>http://platform.ecpc.org.cn/CPCNEW/trans/prodinfo.htm</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>instore</javaee:param-name>
    <javaee:param-value>http://211.88.22.137/servlet/InstoreServlet</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>printurl</javaee:param-name>
    <javaee:param-value>125.70.14.55</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>printport</javaee:param-name>
    <javaee:param-value>15555</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>printmachine</javaee:param-name>
    <javaee:param-value></javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>batchcpc_url</javaee:param-name>
    <javaee:param-value>http://211.88.22.137/batchno/query.htm?batchNo=</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>batchcpc_med</javaee:param-name>
    <javaee:param-value>&amp;desc=medicine</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>batchcpc_tablet</javaee:param-name>
    <javaee:param-value>&amp;desc=pieces</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>outstorage_domain</javaee:param-name>
    <javaee:param-value>zyczs.gov.cn</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>outstorage_url</javaee:param-name>
    <javaee:param-value>http://tjjg.zyczs.gov.cn/trans/zyccorpinfolistout.htm</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>single_login</javaee:param-name>
    <javaee:param-value>0</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>cheng_company</javaee:param-name>
    <javaee:param-value>1-九洲,2-欣创摩尔,3-三积分</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>cheng_mode</javaee:param-name>
    <javaee:param-value>1</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>cheng_code</javaee:param-name>
    <javaee:param-value>05</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>serach_user</javaee:param-name>
    <javaee:param-value>test</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>serach_pwd</javaee:param-name>
    <javaee:param-value>test</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>med_normal</javaee:param-name>
    <javaee:param-value>1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,152</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>med_manage</javaee:param-name>
    <javaee:param-value>1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,152,19,20</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>medsell_normal</javaee:param-name>
    <javaee:param-value>21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,153</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>medsell_manage</javaee:param-name>
    <javaee:param-value>21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,153,36,37</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>tablet_normal</javaee:param-name>
    <javaee:param-value>38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,155,156,157,160</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>tablet_manage</javaee:param-name>
    <javaee:param-value>38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,,155,156,157,63,64,160</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>tabletsell_normal</javaee:param-name>
    <javaee:param-value>65,66,67,68,69,70,71,72,158,159,161</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>tabletsell_manage</javaee:param-name>
    <javaee:param-value>65,66,67,68,69,70,71,72,158,159,73,74,161</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>market_normal</javaee:param-name>
    <javaee:param-value>75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,151,154,162</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>market_manage</javaee:param-name>
    <javaee:param-value>75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,151,154,162,99,100,162</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>hospital_normal</javaee:param-name>
    <javaee:param-value>101,102,103,104,105,106</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>hospital_manage</javaee:param-name>
    <javaee:param-value>101,102,103,104,105,106,107,108</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>govment_manage</javaee:param-name>
    <javaee:param-value>109,110,111,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,250,251,252,253,254,255</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>file_org_path</javaee:param-name>
    <javaee:param-value>img/org</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>file_marketmap_path</javaee:param-name>
    <javaee:param-value>img/marketmap</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>zyczs_area</javaee:param-name>
    <javaee:param-value>0</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>linye</javaee:param-name>
    <javaee:param-value>黄柏,杜仲,厚朴</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>nongye</javaee:param-name>
    <javaee:param-value>川芎,郁金,黄连,铁皮石斛</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>contextConfigLocation</javaee:param-name>
    <javaee:param-value>
			classpath:applicationContext-common.xml,
			classpath:applicationContext-actions.xml,
			classpath:applicationContext-daos.xml
		</javaee:param-value>
  </context-param>
  <listener>
    <javaee:listener-class>
			org.springframework.web.context.ContextLoaderListener
		</javaee:listener-class>
  </listener>
  <listener>
    <javaee:listener-class>
			cn.gov.zyczs.cspt.action.SessionListener
		</javaee:listener-class>
  </listener>
  <listener>
    <javaee:listener-class>flex.messaging.HttpFlexSession</javaee:listener-class>
  </listener>
  <servlet>
    <servlet-name>MessageBrokerServlet</servlet-name>
    <servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
    <init-param>
      <javaee:param-name>services.configuration.file</javaee:param-name>
      <javaee:param-value>/WEB-INF/flex/services-config.xml</javaee:param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageBrokerServlet</servlet-name>
    <url-pattern>/messagebroker/*</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/DisplayChart</url-pattern>
  </servlet-mapping>
</web-app>