@import url(common.css);
@import url(listform.css);

body{ padding:20px; width:748px; overflow:hidden;}
a.btn-xz{ display:inline-block; margin-left:2px; background:url(../images/frame/frame-bg.png) no-repeat -100px -232px; width:60px; height:22px; line-height:22px; text-indent:60px; overflow:hidden;}
#cardbg{ background:url(../images/login/logbglist.jpg); padding:0; width:100%;}
.cardimg{ background:url(../images/market/checkCard.jpg) no-repeat center top; width:100%; height:100%;}
.cardimg a{ display:block; width:206px; height:53px; line-height:53px; text-indent:206px; overflow:hidden; position:absolute; top:580px; left:45%;}
#cch-bg{ background:url(../images/login/logbglist.jpg); padding:0; width:100%;}
.cch-img{ background:url(../images/market/cardchoose.jpg) no-repeat center top; width:100%; height:100%;}
.cch-img .cch-link{ width:475px; height:230px; overflow:hidden; position:absolute; top:408px; left:38%;}
.cch-img .cch-check{ width:475px; height:50px; overflow:hidden; padding-left:52px;}
.cch-img .cch-check a{ display:inline-block; width:152px; height:46px; line-height:46px; text-indent:152px; overflow:hidden; float:left;}
.cch-img .cch-check a.cardnum{}
.cch-img .cch-check a.cardcheck{ margin-left:55px;}
.cch-img a.cch-back{ display:block; width:206px; height:53px; line-height:53px; text-indent:206px; overflow:hidden; margin-top:122px; margin-left:134px;}